header {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}


#add-button {
  background-color: #4592af;
  color: white;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.input-group-append {
  margin-right: 20px;
}


.edit-form .edit-form-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.edit-form .edit-form-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

/*新增餐廳的按鈕*/
#add-div {
  margin-top: 10px;
}

/*用來新增餐廳的表單*/
.form-group {
  margin-top: 13px;
}

/*餐廳資訊的標單*/
label {
  padding-left: 3px;
}

#edit-button {
  margin-bottom: 10px;
}

.alert {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* .row {
  justify-content: center;
} */


#cards {
  display: flex;
  flex: 32%, 0, 1;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  /*max-width: 900px;*/
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin: 10px;
}

/*
.card-columns {
  max-width: 260px;
}
*/

.card img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.card-link {
  color: #3e96bd;
  margin-right: 1px;
}


.card-link:hover {
  color: #3e96bd;
  text-decoration: underline;

}



#btn-delete {
  border-radius: 5px;
  margin-left: 10px;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



@media screen and (max-width: 992px) {

  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {

  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {

  .card img {
    height: auto;
  }

}